.foot {
  background-color: var(--color-grey-dark-1);

  display: flex;
  flex-direction: column;

  p {
    font-size: 1.9rem;
    line-height: 2;
    color: var(--color-grey-light-3);
  }
  &__disclaimer--1 {
    border-bottom: var(--line);
    margin: 2rem;
    padding: 2rem 0 4rem 0;
  }
  &__disclaimer--2 {
    margin: 2rem 2rem 4rem 2rem;
  }
}

// !   ---------------------------------  ------------- -------------------------------
// !   ---------------------------------  MEDIA QUERY -------------------------------
// !   ---------------------------------  ------------- -------------------------------

@include respond(tablet) {
  .foot {
    flex-direction: row;
    &__disclaimer--1 {
      all: unset;
      border-right: var(--line);
      flex: 0 0 45%;
      margin: 2rem 2rem 2rem 1rem;
      padding: 0 2rem 0 0;
    }
    &__disclaimer--2 {
      all: unset;
      flex: 1;
      margin: 2rem 1rem 2rem 1rem;
    }

    &__navigation {
      border-top: var(--line);
      padding-top: 2rem;
      display: inline-block;
    }

    &__list {
      list-style: none;
      display: flex;
      align-items: center;
    }

    &__item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    &__link {
      &:link,
      &:visited {
        color: var(--color-grey-light-2);
        background-color: var(--color-grey-dark-1);
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        transition: all 0.2s;

        span {
          margin-left: 1rem;
        }
      }

      &:hover,
      &:active {
        box-shadow: var(--shadow-dark);
        transform: rotate(5deg) scale(1.3);
      }

      &--face {
        &:hover,
        &:active {
          color: var(--color-face);
        }
      }

      &--twitter {
        &:hover,
        &:active {
          color: var(--color-twitter);
        }
      }

      &--rss {
        &:hover,
        &:active {
          color: $color-white;
        }
      }
    }
  }
}
