//?  MAPS

.campus {
  &__container {
    display: grid;
  }
  &__map-box {
    justify-self: center;
    height: 100%;
    width: 90vw;
    display: flex;
    flex-direction: column;
  }

  &__map {
    width: 100%;
    height: 60vh;
    border: 0;
  }

  &__text-box {
    margin: 5rem;
    p {
      padding-top: 3rem;
    }
    h2 {
      display: flex;
      align-items: center;
    }
  }
}

@include respond(desktop) {
  .campus {
    &__map-box {
      //justify-self: center;
      margin-bottom: 4rem;
      display: flex;
      flex-direction: row;
      height: 45vw;
      width: 80vw;
    }

    &__map {
      align-self: center;
      height: 40vw;
      width: 50vw;
      flex: 0 0 60%;
      border: 0;
    }
    &__text-box {
      width: 70%;
    }
  }
}

//?  CARDS

.courses-container {
  all: unset;
  display: grid;
  grid-template-columns: repeat(3, 35rem);
  grid-template-rows: min-content;
  justify-items: center;
  grid-column-gap: 3rem;

  @media only screen and (max-width: 62.5em), only screen and (hover: none) {
    all: unset;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(3, 85rem);
    justify-items: center;
    align-items: center;
    grid-row-gap: 3rem;
  }
}

/*.courses-container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(3, 85rem);
  justify-items: center;
  align-items: center;
  grid-row-gap: 3rem;
}

@include respond(desktop) {
 .courses-title {
    margin: 0 auto;
    text-align: center;
    padding: 3rem 0;
  }

  .courses-container {
    all: unset;
    display: grid;
    grid-template-columns: repeat(3, 35rem);
    grid-template-rows: min-content;
    justify-items: center;
    grid-column-gap: 3rem;
  }
}*/

//?  TEACHERS
.teachers__container {
  @include respond(desktop) {
    grid-column: center-start / center-end;
  }

  margin: 5rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}
.teacher {
  background-color: var(--color-grey-light-6);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;

  &__img {
    //background-size: contain;
    width: 100%;

    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
  }

  &__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: var(--color-primary);
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
  }

  &__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;

    width: 80%;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: var(--color-primary-light);
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);
  }

  &__location,
  &__rooms {
    margin-top: 2.5rem;
  }

  &__location,
  &__rooms,
  &__area,
  &__price {
    font-size: 1.5rem;
    margin-left: 2rem;

    display: flex;
    align-items: center;

    svg {
      fill: var(--color-primary);
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }
  }

  &__btn {
    grid-column: 1 / -1;
  }
}

//?  CURSOS

.clases-container {
  /*@include respond(desktop) {
    grid-column: center-start / center-end;
  }*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

  grid-row-gap: 10rem;
  grid-column-gap: 5rem;
  margin: 0;
  font-size: 1.5rem;
}

.clasesflex-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  //justify-content: center;
  //align-items: center;
  &--title {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 3rem 0 5rem 0;
  }
}

.clases--item {
  //display: flex;
  //flex-direction: column;
  background-color: var(--color-grey-light-6);
  border: 3px;
  margin: 0 auto;
  width: 90%;
  text-decoration: none;
  list-style: none;
  text-align: center;
  //align-items: flex-start;
  //justify-content:

  h4 {
    //align-self: center;
    //justify-self: center;
    //text-align: center;
    margin: 0 auto;
    transform: translateY(-50%);
    font-size: 1.5rem;
    width: 85%;
  }
  li {
    transform: translateY(-40%);
  }
}
